.wp-block-devit-group-test-gutenberg-accordion
{
    background: white;
    border-radius: 13px;
    padding: 12px;
}

.accordion-section
{
    width: 100%;
}

.accordion-line
{
    display: inline-flex;
    padding: 10px 0px;
    border-bottom: 1px solid #d5d8dc !important;
}

.accordion-line:last-child {
    border-bottom: none !important;
}

.section-number {
    width: 60px;
    /* height: 38px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: rgba(60, 60, 67, 0.5);
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 0px;
    padding-left: 10px;
}

.accordion-section-title
{
    text-decoration: none;

    /* #BlockTitle */

    /*width: 530px;*/
    /*height: 34px;*/

    /* Title/2 strong */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    /* identical to box height, or 34px */
    display: flex;
    align-items: center;

    /* Text/txt-primary */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.accordion-title, .accordion-line
{
    width: 100%;
}
.IconClose
{
    display: none;
}
.IconClose, .IconOpen
{
    width: 38px;
}

.accordion-section-content
{
    /* #BlockText */

    /*width: 586px;*/
    /*height: 25px;*/

    /* Text/2 regular */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    /* Text/txt-secondary */
    color: rgba(60, 60, 67, 0.85);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

@media (max-width: 720px)
{
    .accordion-line {
        display: block;
    }
    .accordion-section-title
    {
        font-size: 18px;
    }
    .section-number
    {
        padding-left: 0px;
    }
}
